@charset "utf-8";
header{
    background-color: black;
    padding: 3% 0 1% 0;
}

header a, header a :visited{
    text-decoration: none;
    color: white;
    padding-left: 17%;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 320%;
}

.navi{
    background-color: black;
    padding: 0.1%;
}
.search{
    padding-left: 5%;
    padding-top: 0.3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
input{
    width: 60%;
    padding: 2%;
    border-radius: 15px;
    outline: none;
}
button{
    width: 80px;
    padding: 2%;
    border-radius: 15px;
    outline: none;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sch{
    font-size: 20px;
    width:350px;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
    margin-top: 3%;
    border-bottom: 3px double;
    text-align: center;
}

.navi ul{
	list-style: none; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.navi ul li {
    display:inline;
	float:left;
    font-size:110%;
    font-weight: lighter;
    font-family: 'Jua', sans-serif; 
}
.navi a, .navi a:visited {
    padding: 7px 5px 3px 5px;
    text-align: center;
	display: block;
	color:#fff;
	width: 120px; 
    text-decoration: none;
}

.navi a:hover, .navi a:active {
		color: black;
        background-color: white;
        border-radius: 15px;
}
.img2{
    width: 100%;
}
.img2:hover, .img2:active{
    border: 7px groove black;
    border-radius: 8px;
}
table{
    margin: 5%;
    padding-bottom: 5%;
}
.row{
    border-bottom: 2px solid black;
}
.a{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
.b, .c{
    font-size: medium;
    padding-top: 1%;
}
.b{
    font-weight: bold;
}
.in{
    padding: 5%;
}

footer{
	clear:both;
	padding:1%;
	background-color:black;
	color:white;	
    text-align:center;
    font-size: x-small;
}